.ui.modal
    i.close.icon
    .header(data-hook='title') Create a room
    .content(data-hook='content').ui.form
        .field
            label Username
            input(data-hook='username')
    .actions
        a.positive.ui.button Okay
        a.negative.ui.button Never mind
