div(style='margin: 0 0 3em; min-height: 150px; max-height: 600px;overflow-y:scroll;')
    .fluid.ui.action.input(style='position: absolute; bottom: 0; left: 0; padding-left: 2.5rem; right: 0;')
        input(type='text', data-hook='entry')
        a.ui.icon.button: i.send.icon
    a.ui.circular.red.icon.button(style='position:absolute;bottom:0;left:0;', data-add-file)
        i.plus.icon
    .ui.comments(data-hook='chat-content')
