.ui.modal
    i.close.icon
    .header(data-hook='title') Join room
    .content(data-hook='content').ui.form
        .field
            label Your username
            input(data-hook='username', data-submittable)
        .field
            label User to connect to
            input(data-hook='connect-to', data-submittable)
    .actions
        a.positive.ui.button Okay
        a.negative.ui.button Never mind
        
