.ui.modal
    input(type='file',style='display:none;', data-hook='real-file-input')
    i.close.icon
    .header(data-hook='title') Upload a file
    .content(style='position:relative;min-height:200px;background-color:#ddd;')
        .ui.top.right.attached.label.purple(data-hook='select-file', style='cursor:pointer;') Select file
        div(style='position:absolute;top:20px;bottom:20px;left:20px;right:20px;border-radius:10px;border:5px dashed #bbb;')
    .actions
        a.purple.ui.button Select file
        a.positive.ui.button We're done here
