div(style='padding-top: 35px;')
    .ui.fixed.purple.inverted.tiered.main.menu
        a.ui.dropdown.item(data-action="online-users")
            i.users.icon
            span.text  &hellip;
            .menu: .ui.comments(style='padding:1em;')
        a.item(data-action="now-playing")
            i.play.icon
            span  No music playing
        a.item(data-action="toggle-modules")
            i.plus.icon
            |  Cards
        .right.menu
            a.ui.dropdown.link.item(data-hook='username-display')
                i.user.icon
                span.text
                .menu
                    .header Webcam settings
                    .item: .ui.toggle.checkbox
                        input(type='checkbox', data-hook='video-active') 
                        label Video
                    .item: .ui.toggle.checkbox
                        input(type='checkbox', data-hook='audio-active')
                        label Audio
            a.ui.link.item
                i.mail.icon.outline
                span.text  Invite
            a.item(href='/')
                i.sign.out.icon
                |  Leave
        .ui.sub.menu(style='display:none;', data-hook='modules-submenu')
            a.item(data-action="toggle-view", data-view='textchat')
                i.comments.icon
                |  Text chat
            a.item(data-action="toggle-view", data-view='videostream')
                i.record.icon
                |  Webcam stream
    .ui.container(style="margin: auto; max-width: 1000px; padding: 2em;"): .ui.stackable.grid
        .column.card-container(id='videostream' style='display: none;')
        .column.card-container.sixteen.wide(id='textchat')
