div
  h4.ui.top.attached.header(data-hook='card-header')
    i.icon(data-hook='card-icon')
    .content(data-hook='card-title')
  .ui.bottom.attached.segment(style='position: relative;', data-hook='card-contents')
