.full-div
  .full-center
    h1.ui.huge.header(style='font-size: 500%; font-variant: small-caps;') The File Lounge
    a.huge.positive.ui.button(href='#new')
      | Create room#{' '}
      i.double.angle.right.icon
