.full-div
  .full-center
    h1.ui.huge.header(style='font-size: 500%; font-variant: small-caps;') File Loge
    a.huge.positive.labeled.icon.right.ui.button(href='#new')
      | Create room
      i.add.circle.icon
    a.huge.purple.labeled.right.icon.ui.button(href='#join')
      | Join room
      i.sign.in.icon
